<%= form_for(@action_stub) do |g| %>
  <% if @action_stub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_stub.errors.count, "error") %> prohibited this action_stub from being saved:</h2>

      <ul>
      <% @action_stub.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= g.label :name %><br>
    <%= g.text_field :name %>
  </div>
  <div class="field">
    <%= g.label :description %><br>
    <%= g.text_area :description %>
  </div>
  <div class="field">
    <%= g.label :enabled %><br>
    <%= g.check_box :enabled %>
  </div>
  <div class="field">
    <%= g.label :challenge_id %><br>
    <%= g.number_field :challenge_id %>
  </div>
  <div class="field">
    <%= g.label :amt %><br>
    <%= g.text_field :amt %>
  </div>
  <div class="field">
    <%= g.label :heir %><br>
    <%= g.number_field :heir %>
  </div>
  <div class="field">
    <%= g.label :heir_type %><br>
    <%= g.text_field :heir_type %>
  </div>
  <div class="actions">
    <%= g.submit %>
  </div>
<% end %>
