%p#notice= notice
%p
  %strong Name:
  = @action_stub.name
%p
  %strong Description:
  = @action_stub.description
%p
  %strong Enabled:
  = @action_stub.enabled
%p
  %strong Sequential Reveal:
  = @action_stub.seqreveal_flag
%p
  %strong Challenge:
  = @action_stub.challenge_id
%p
  %strong Amt:
  = @action_stub.amt
%p
  %strong Team:
  = @action_stub.team
%p
  %strong Start Msg:
  = @action_stub.start_msg
%p
  %strong Complete Msg:
  = @action_stub.complete_msg

%br
.page-title
  %h2 Scavenger Items
  = link_to 'New Scavenger Item', new_challenge_action_scavenger_scavenger_item_path(@challenge, @action_stub.specific), class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Name/Hint Msg
      %th PreRequisites
      %th Order
      %th Find Amt
      %th

  %tbody
    - @action_stub.specific.scavenger_items.each do |item|
      %tr
        %td #{!item.name.blank? ? item.name : item.hint_msg}
        %td
          %table.table.table-striped
            %thead
              %tr
                %th
                  =form_tag(challenge_action_scavenger_scavenger_item_add_prereq_path(@challenge, @action_stub.specific.id, item), method: 'put', id: 'add-prereq', class: 'form-inline') do
                    = select_tag 'prereq_id', options_for_select(available_prereqs(@action_stub.specific,item)), prompt: 'Select PreReq', class: 'form-control'
                    = submit_tag 'Add', class: 'btn btn-primary'
            %tbody
              - item.prereqs.each do |preqitem|
                %tr
                  %td #{!preqitem.name.blank? ? preqitem.name : preqitem.hint_msg}
                  %td
                    = link_to 'remove', challenge_action_scavenger_scavenger_item_remove_prereq_path(@challenge, @action_stub.specific, item,preqitem), method: :put, 'data-confirm' =>   "Are you sure you want to remove #{preqitem.name} from this item?"
        %td= item.order
        %td= item.find_amt
        %td
          = link_to 'Edit', edit_challenge_action_scavenger_scavenger_item_path(@challenge, @action_stub.specific, item)
          |
          = link_to 'Destroy', challenge_action_scavenger_scavenger_item_path(@challenge, @action_stub.specific, item), method: :delete, data: { confirm: 'Are you sure?' }


= link_to 'Edit', edit_challenge_action_stub_path(@challenge, @action_stub)
|
\#{link_to 'Back', challenge_path(@challenge)}
