%p#notice= notice
%p
  %strong Name:
  = @action_stub.name
%p
  %strong Description:
  = @action_stub.description
%p
  %strong Enabled:
  = @action_stub.enabled
%p
  %strong Challenge:
  = @action_stub.challenge_id
%p
  %strong Amt:
  = @action_stub.amt

= link_to 'Edit', edit_action_stub_path(@action_stub)
|
\#{link_to 'Back', action_stubs_path}
