<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @action_stub.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @action_stub.description %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @action_stub.enabled %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @action_stub.challenge_id %>
</p>

<p>
  <strong>Amt:</strong>
  <%= @action_stub.amt %>
</p>

<p>
  <strong>Heir:</strong>
  <%= @action_stub.heir %>
</p>

<p>
  <strong>Heir type:</strong>
  <%= @action_stub.heir_type %>
</p>

<%= link_to 'Edit', edit_action_stub_path(@action_stub) %> |
<%= link_to 'Back', action_stubs_path %>
