.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Vervoo', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to 'Home', root_path

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          - if user_signed_in?
            %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
              = current_user.username
              %b.caret
            %ul.dropdown-menu.animated.fadeInRight
              %span.arrow.top
              %li
                = link_to 'Sign Out', signout_path, method: :delete
          - else
            = link_to 'Sign In', signin_path
