<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @sponsor.email %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @sponsor.enabled %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @sponsor.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @sponsor.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @sponsor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sponsor.state %>
</p>

<p>
  <strong>Province:</strong>
  <%= @sponsor.province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @sponsor.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @sponsor.country %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @sponsor.phone_number %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @sponsor.img_url %>
</p>

<p>
  <strong>Website:</strong>
  <%= @sponsor.website %>
</p>

<p>
  <strong>Seo name:</strong>
  <%= @sponsor.seo_name %>
</p>

<p>
  <strong>Img thumb url:</strong>
  <%= @sponsor.img_thumb_url %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
