<h1>Listing action_bases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Enabled</th>
      <th>Challenge</th>
      <th>Amt</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @action_bases.each do |action_base| %>
      <tr>
        <td><%= action_base.name %></td>
        <td><%= action_base.description %></td>
        <td><%= action_base.enabled %></td>
        <td><%= action_base.challenge_id %></td>
        <td><%= action_base.amt %></td>
        <td><%= link_to 'Show', action_basis %></td>
        <td><%= link_to 'Edit', edit_action_basis_path(action_base) %></td>
        <td><%= link_to 'Destroy', action_basis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Action base', new_action_basis_path( :challenge_id => @challenge.id ) %>
