<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :challenge_img %><br>
    <%= f.text_field :challenge_img %>
  </div>
  <div class="field">
    <%= f.label :total_offer %><br>
    <%= f.text_field :total_offer %>
  </div>
  <div class="field">
    <%= f.label :amount_raised %><br>
    <%= f.text_field :amount_raised %>
  </div>
  <div class="field">
    <%= f.label :sponsor_blurb %><br>
    <%= f.text_area :sponsor_blurb %>
  </div>
  <div class="field">
    <%= f.label :charity_blurb %><br>
    <%= f.text_area :charity_blurb %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :seo_name %><br>
    <%= f.text_field :seo_name %>
  </div>
  <div class="field">
    <%= f.label :img_thumb_url %><br>
    <%= f.text_field :img_thumb_url %>
  </div>
  <div class="field">
    <%= f.label :logo_url %><br>
    <%= f.text_field :logo_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
