%p#notice= notice
%p
  %strong Name:
  = @challenge.name
%p
  %strong Description:
  = @challenge.description
%p
  %strong Start date:
  = @challenge.start_date
%p
  %strong End date:
  = @challenge.end_date
%p
  %strong Challenge img:
  = image_tag @challenge.challenge_img.url
%p
  %strong Total offer:
  = @challenge.total_offer

%br
= link_to 'Back to Challenges', challenges_path
%br

.page-title
  %h2 Actions

  = form_tag("/challenges/#{@challenge.id}/action_stubs/new", method: 'get', id: 'new-action', class: 'form-inline') do
    = select_tag "action_type", options_for_select(action_type_collection), class: 'form-control'
    = submit_tag 'Add New Action', class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Action Type
      %th 

  %tbody
    - @action_stubs.each do |action|
      %tr
        %td= action.name
        %td= action.as_action_stub_type
        %td
          = link_to 'Edit', edit_challenge_action_stub_path(@challenge, action)
          |
          = link_to 'Destroy', challenge_action_stub_path(@challenge, action), method: :delete, data: { confirm: 'Are you sure?' }
