<h1>Listing nonprofits</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Enabled</th>
      <th>Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Province</th>
      <th>Postal code</th>
      <th>Country</th>
      <th>Phone number</th>
      <th>Img url</th>
      <th>Website</th>
      <th>Seo name</th>
      <th>Img thumb url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nonprofits.each do |nonprofit| %>
      <tr>
        <td><%= nonprofit.email %></td>
        <td><%= nonprofit.enabled %></td>
        <td><%= nonprofit.name %></td>
        <td><%= nonprofit.address1 %></td>
        <td><%= nonprofit.address2 %></td>
        <td><%= nonprofit.city %></td>
        <td><%= nonprofit.state %></td>
        <td><%= nonprofit.province %></td>
        <td><%= nonprofit.postal_code %></td>
        <td><%= nonprofit.country %></td>
        <td><%= nonprofit.phone_number %></td>
        <td><%= nonprofit.img_url %></td>
        <td><%= nonprofit.website %></td>
        <td><%= nonprofit.seo_name %></td>
        <td><%= nonprofit.img_thumb_url %></td>
        <td><%= link_to 'Show', nonprofit %></td>
        <td><%= link_to 'Edit', edit_nonprofit_path(nonprofit) %></td>
        <td><%= link_to 'Destroy', nonprofit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nonprofit', new_nonprofit_path %>
