<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @nonprofit.email %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @nonprofit.enabled %>
</p>

<p>
  <strong>Name:</strong>
  <%= @nonprofit.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @nonprofit.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @nonprofit.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @nonprofit.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @nonprofit.state %>
</p>

<p>
  <strong>Province:</strong>
  <%= @nonprofit.province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @nonprofit.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @nonprofit.country %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @nonprofit.phone_number %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @nonprofit.img_url %>
</p>

<p>
  <strong>Website:</strong>
  <%= @nonprofit.website %>
</p>

<p>
  <strong>Seo name:</strong>
  <%= @nonprofit.seo_name %>
</p>

<p>
  <strong>Img thumb url:</strong>
  <%= @nonprofit.img_thumb_url %>
</p>

<%= link_to 'Edit', edit_nonprofit_path(@nonprofit) %> |
<%= link_to 'Back', nonprofits_path %>
